.grid {
        display: grid;
        grid-template-columns: 10rem auto auto;
        gap: 3rem;
}

.avatar {
        border-radius: 50%;
        max-width: 10rem;
        grid-row: span 2;
}

.title {
        font-size: 2rem;
        grid-column: span 2;
}

.Stars {
        display: inline-block;
        font-size: var(--star-size);
        font-family: Times;
        /* make sure ★ appears correctly*/
        line-height: 1;
        grid-column: span 2;
        align-self: center;
}

.Stars::before {
        content: '★★★★★';
        background: linear-gradient(90deg, var(--star-background) calc(var(--rating) / 5 * 100%), var(--star-color) calc(var(--rating) / 5 * 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.thumbnail {
        max-width: 20%;
        margin-right: 70rem;
        grid-column: 3/4;
        grid-row: 3/5;
}

.created {
        grid-column: span 2;
}

.text {
        grid-column: span 3;
}

.grid>p:nth-child(4) {
        grid-column: span 2;
        align-self: center;
}

.voting>div>p {
    font-weight: var(--Bold);
}

.voting_num {
    color: #6300ee;
    font-family: 'Comic Sans MS';
    font-size: 2rem;
    text-shadow: rgb(210, 183, 84) 3px 0px 0px, rgb(210, 183, 84) 2.83487px 0.981584px 0px, rgb(210, 183, 84) 2.35766px 1.85511px 0px, rgb(210, 183, 84) 1.62091px 2.52441px 0px, rgb(210, 183, 84) 0.705713px 2.91581px 0px, rgb(210, 183, 84) -0.287171px 2.98622px 0px, rgb(210, 183, 84) -1.24844px 2.72789px 0px, rgb(210, 183, 84) -2.07227px 2.16926px 0px, rgb(210, 183, 84) -2.66798px 1.37182px 0px, rgb(210, 183, 84) -2.96998px 0.42336px 0px, rgb(210, 183, 84) -2.94502px -0.571704px 0px, rgb(210, 183, 84) -2.59586px -1.50383px 0px, rgb(210, 183, 84) -1.96093px -2.27041px 0px, rgb(210, 183, 84) -1.11013px -2.78704px 0px, rgb(210, 183, 84) -0.137119px -2.99686px 0px, rgb(210, 183, 84) 0.850987px -2.87677px 0px, rgb(210, 183, 84) 1.74541px -2.43999px 0px, rgb(210, 183, 84) 2.44769px -1.73459px 0px, rgb(210, 183, 84) 2.88051px -0.838247px 0px;
}