.grid {
        display: grid;
        grid-template-columns: 10rem auto auto;
        gap: 3rem;
}

.avatar {
        border-radius: 50%;
        max-width: 10rem;
        grid-row: span 2;
}

.title {
        font-size: 2rem;
        grid-column: span 2;
}

.Stars {
        display: inline-block;
        font-size: var(--star-size);
        font-family: Times;
        /* make sure ★ appears correctly*/
        line-height: 1;
        grid-column: span 2;
        align-self: center;
}

.Stars::before {
        content: '★★★★★';
        background: linear-gradient(90deg, var(--star-background) calc(var(--rating) / 5 * 100%), var(--star-color) calc(var(--rating) / 5 * 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.thumbnail {
        max-width: 20%;
        margin-right: 70rem;
        grid-column: 3/4;
        grid-row: 3/5;
}

.created {
        grid-column: span 2;
}

.text {
        grid-column: span 3;
}

.grid>p:nth-child(4) {
        grid-column: span 2;
        align-self: center;
}

.voting {
        grid-column: 1/3;
}

.voting>div>p {
        font-weight: var(--Bold);
}

.voting_num {
        color: #E1564E;
        font-family: '源ノ明朝';
        font-size: 2.6rem;
        margin-left: 2rem;
        position: relative;
}

.voting_image {
        background-image: url('../img/like_button.svg');
        background-position: center center;
        height: 4.4rem;
        background-color: rgb(255, 255, 255, 1);
        border-width: 0;
        width: 10.2rem;
        margin-bottom: unset;
}

.voting_image:hover {
        opacity: 0.8;
        transition: all 0.2s ease-out;
}

.voting_image:active {
        position: relative;
        top: 0.1rem;
}

.img-balloon {
        margin-left: 24px;
        padding: 16px;
        width: 11rem;
        font-size: 15px;
        color: #333;
        border: solid 1px #ccc;
        border-radius: 8px;
        position: relative;
}

.img-balloon::before {
        content: "";
        border-left: 16px solid transparent;
        border-top: 16px solid #ccc;
        position: absolute;
        top: 16px;
        left: -16px;
}

.img-balloon::after {
        content: "";
        border-left: 15px solid transparent;
        border-top: 15px solid white;
        position: absolute;
        top: 17px;
        left: -14px;
}

b {
        font-size: 1.8rem;
}

fieldset {
        margin-bottom: unset;
}