.top-gredContainer {
    max-width: none !important;
    display: grid;
    justify-content: center;
}

/* -----Hero and Guideline------ */
.hero-wrapper {
    width: 152.2rem;
    height: 84.6rem;
    background: #e5e5e5;
    border: 0.1rem solid #707070;
    margin: 8rem 0 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-wrapper>p:nth-child(1) {
    font-size: 10rem;
}

/* -------sort----------- */
.sort-wrapper {
    margin-bottom: 10rem;
}

.sort-wrapper >a{
    padding: 1rem;
    margin-right: 1rem;
    box-shadow: 0.5rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2), 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}