/* --- @override --- */
.container {
    margin: 0 auto;
    max-width: 152.2rem;
    padding: 0 2.0rem;
    position: relative;
    width: 100%;
    display: grid;
}

button:hover {
    background-color: unset;
    border-color: unset;
    color: unset;
    outline: 0;
}

fieldset {
    margin-bottom: 1.5rem;
}

/* -----Hero and Guideline------ */
.hero-wrapper {
    height: 84.6rem;
    background: #e5e5e5;
    border: 0.1rem solid #707070;
    margin: 8rem 0 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-wrapper>p:nth-child(1) {
    font-size: 10rem;
}

/* ===============reviews================= */
.reviews {
    width: 90rem;
    margin: 0 auto;
}

/* ---sort--- */
.sort-wrapper {
    margin-bottom: 10rem;
}

.sort-wrapper>a {
    padding: 1rem;
    margin-right: 1rem;
    box-shadow: 0.5rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2), 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

/* ~~~~~~article~~~~~~ */
.review-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto 5rem;
    grid-row-gap: 1rem;
}

article>div {
    min-height: 25.3rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-bottom: 4.5rem;
    padding: 1rem;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #c4c4c4;
    box-shadow: 0 0.8rem 0.5rem rgba(0, 0, 0, 0.1), 0 0.5rem 0.3rem rgba(0, 0, 0, 0.1), 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.clinic-name {
    grid-column: span 3;
    font-size: 2rem;
    font-weight: var(--Medium);
    margin-top: 1rem;
}

.clinic-name>a {
    box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem #808080;
    background-color: #6300ee;
    border-radius: 2.8rem;
    border: 0.1rem solid #6300ee;
    cursor: pointer;
    color: #ffffff;
    padding: 0.8rem 3.1rem;
    text-decoration: none;
    text-shadow: 0px 0.1rem 0px #999999;
}

.clinic-name>a:hover {
    background-color: #8654d1;
}

.clinic-name>a:active {
    position: relative;
    top: 0.1rem;
    box-shadow: unset;
}

.disease_name {
    grid-column: span 3;
    margin-left: 2rem;
}

.disease_name>a {
    box-shadow: 0.1rem 0.4rem 0.6rem 0.1rem #c4c4c4;
    background-color: rgba(115, 55, 196, 0.1);
    border-radius: 0.7rem;
    border: 0.1rem solid rgba(115, 55, 196, 0.1);
    display: inline-block;
    cursor: pointer;
    color: #6200EE;
    padding: 0.4rem 1.5rem;
    text-decoration: none;
}

.disease_name>a:hover {
    background-color: #bca3e26e;
}

.disease_name>a:active {
    position: relative;
    top: 0.1rem;
    box-shadow: unset;
}

.body {
    grid-column: span 3;
}

.view_link {
    box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem #808080;
    background-color: #6300ee;
    border-radius: 2.8rem;
    border: 0.1rem solid #6300ee;
    cursor: pointer;
    color: #ffffff;
    padding: 0 1rem;
    text-decoration: none;
    text-shadow: 0px 0.1rem 0px #999999;
    position: relative;
    grid-column: span 3;
    width: 11rem;
    margin-left: 2rem;
}

.view_link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 15px 12.5px;
    border-color: transparent transparent #6300ee transparent;
    left: 4rem;
    top: -1rem;
}

.view_link>a {
    color: #ffffff;
}

.view_link:hover::before {
    opacity: 0.8;
    transition: all 0.2s ease-out;
}

.view_link:hover {
    opacity: 0.8;
    transition: all 0.2s ease-out;
}

.view_link:active {
    position: relative;
    top: 0.1rem;
    box-shadow: unset;
}


.username {
    justify-self: end;
    align-self: end;
    margin-right: 1rem;
}

.created {
    align-self: end;
}

.voting {
    display: flex;
}

.voting>div {
    transform: translateY(15%);
}

.voting>div>p {
    font-weight: var(--Bold);
}

.voting_image {
    background-image: url('../img/Voting+.svg');
    background-position: center center;
    height: 4.5rem;
    background-color: rgb(255, 255, 255, 1);
    border-width: 0;
}

.voting_image:hover {
    opacity: 0.8;
    transition: all 0.2s ease-out;
}

.voting_image:active {
    position: relative;
    top: 0.1rem;
}