/* --- @override --- */
.container {
        margin: 0 auto;
        max-width: 152.2rem;
        padding: 0 2.0rem;
        position: relative;
        width: 100%;
}

button:hover {
        background-color: unset;
        border-color: unset;
        color: unset;
        outline: 0;
}

button[type="submit"] {
        background-color: unset;
}

fieldset {
        margin-bottom: unset;
}

/* -----Hero and Guideline------ */
.hero-wrapper {
        height: 84.6rem;
        background: #e5e5e5;
        border: 0.1rem solid #707070;
        margin: 8rem 0 10rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
}

.guide {
        display: grid;
        width: 58rem;
        height: 37rem;
        background-color: var(--primary-color);
        border: 3px solid #fff;
        border-radius: 3%;
        font-family: "游明朝";
        color: #614A2B;
        top: 200px;
        position: relative;
        left: unset;
}

.guide>form {
        justify-self: center;
        height: 150px;
}

.guide>form>div>label {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 4rem;
}

.guide>form>div>input {
        background-color: #fff;
        margin: 0 auto;
        width: 537px;
        height: 57px;
}

.submit_img {
        background-size: 35px;
}

.guide>form>.submit {
        position: relative;
        left: 240px;
        top: -127px;
}

.user_list_anchor,
.clinic_list_anchor {
        text-indent: 10px;
        font-size: 2.6rem;
        background-color: #FFF;
        width: 350px;
        height: 52px;
        display: inline-block;
        line-height: 2;
        border-radius: 10px;
        color: #614A2B;
        font-family: "游明朝";
        margin-left: 2rem;
}

.user_list_anchor {
        width: 350px;
        height: 52px;
}

.user_list_anchor::after,
.clinic_list_anchor::after {
        content: " ＞";
}

.clinic_list_anchor {
        width: 313px;
        height: 52px;
}

@media screen and (max-width: 1200px) {
        .hero-wrapper {
                height: 75vw;
        }

        .guide {
                width: 48rem;
                height: 27rem;
                top: 180px;
        }

        .guide>form>div>input {
                width: 437px;
                height: 47px;
        }

        .user_list_anchor,
        .clinic_list_anchor {
                font-size: 2.0rem;
        }

        .user_list_anchor {
                height: 42px;
        }

        .clinic_list_anchor {
                height: 42px;
        }
}

@media screen and (max-width: 900px) {
        .hero-wrapper {
                height: 95vw;
        }
}

@media screen and (max-width: 700px) {
        .hero-wrapper {
                height: 120vw;
        }
}

@media screen and (max-width: 600px) {
        .hero-wrapper {
                height: 140vw;
                margin-top: 4rem;
        }

        .guide {
                width: 25rem;
                height: 20rem;
                top: 120px;
        }

        .guide>form>div>label {
                font-size: 1.6rem;
                margin: 2rem 2.5rem;
        }

        .guide>form {
                justify-self: unset;
                height: unset;
        }

        .guide>form>div>input {
                width: 227px;
                height: 37px;
                margin-left: 1rem;
                font-size: 1.4rem;
        }

        .clinic_list_anchor {
                height: 32px;
                width: 190px;
                font-size: 1.6rem;
                margin-left: 1rem;
        }

        .user_list_anchor {
                height: 32px;
                font-size: 1.6rem;
                width: 220px;
                margin-left: 1rem;
        }

        .submit_img {
                top: 9.6rem;
                left: -4rem;
        }

        .submit_img {
                background-size: unset;
        }

}

/* ===============reviews================= */
.reviews {
        max-width: 90rem;
        margin: 0 auto;
}

/* ~~~~~~article~~~~~~ */
.review-container {
        display: grid;
        grid-template-columns: 15rem auto auto;
        grid-template-rows: auto auto auto auto 5rem;
        grid-row-gap: 1rem;
}

article {
        margin-bottom: 8rem;
}

article>div {
        min-height: 25.3rem;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-bottom: 4.5rem;
        padding: 1rem;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: #c4c4c4;
        box-shadow: 0 0.8rem 0.5rem rgba(0, 0, 0, 0.1), 0 0.5rem 0.3rem rgba(0, 0, 0, 0.1), 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.thumbnail {
        max-width: 13rem;
        grid-row: span 2;
}

.clinic-name {
        grid-column: span 2;
        font-size: 2rem;
        font-weight: var(--Medium);
        margin-top: 1rem;
        border-left: unset;
}

.clinic-name>a {
        /* box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem #808080; */
        background-color: var(--primary-color);
        border-radius: 2.8rem;
        cursor: pointer;
        color: #121212;
        padding: 0.8rem 3.1rem;
        text-decoration: none;
        text-shadow: 0px 0.1rem 0px #999999;
}

@media screen and (max-width: 450px) {
        .clinic-name>a:hover {
                background-color: unset !important;
        }

        .clinic-name>a {
                background-color: unset;
                font-size: 1.6rem;
        }
}

.clinic-name>a:hover {
        background-color: #f5bcb9;
}

.clinic-name>a:active {
        position: relative;
        top: 0.1rem;
        box-shadow: unset;
}

h3::before {
        content: unset;
}

.Stars {
        display: inline-block;
        font-size: var(--star-size);
        font-family: Times;
        /* make sure ★ appears correctly*/
        line-height: 1;
}

.Stars::before {
        content: '★★★★★';
        background: linear-gradient(90deg, var(--star-background) calc(var(--rating) / 5 * 100%), var(--star-color) calc(var(--rating) / 5 * 100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.disease_name>a {
        box-shadow: 0.1rem 0.4rem 0.6rem 0.1rem #c4c4c4;
        background-color: rgba(115, 55, 196, 0.1);
        border-radius: 0.7rem;
        border: 0.1rem solid rgba(115, 55, 196, 0.1);
        display: inline-block;
        cursor: pointer;
        color: #6200EE;
        padding: 0.4rem 1.5rem;
        text-decoration: none;
}

.disease_name>a:hover {
        background-color: #bca3e26e;
}

.disease_name>a:active {
        position: relative;
        top: 0.1rem;
        box-shadow: unset;
}

.body {
        grid-column: span 3;
}

.view_link {
        /* box-shadow: 0.1rem 0.2rem 0.8rem 0.1rem #808080; */
        background-color: var(--primary-color);
        border-radius: 2.8rem;
        cursor: pointer;
        color: #a35151;
        padding: 0 1rem;
        text-decoration: none;
        text-shadow: 0px 0.1rem 0px #999999;
        position: relative;
        grid-column: span 3;
        width: 11rem;
        margin-left: 2rem;
        transition: all 0.2s ease-out;
}

.view_link::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 12.5px 15px 12.5px;
        border-color: transparent transparent var(--primary-color) transparent;
        left: 4rem;
        top: -1rem;
        transition: all 0.2s ease-out;
}

.view_link>a {
        color: #424445;
}

.view_link:hover::before {
        border-color: transparent transparent #f5bcb9 transparent;
}

.view_link:hover {
        background-color: #f5bcb9;
}

.view_link:active {
        position: relative;
        top: 0.1rem;
        box-shadow: unset;
}


.username {
        justify-self: end;
        align-self: end;
        margin-right: 1rem;
}

.created {
        align-self: end;
        justify-self: center;
}

.voting {
        display: flex;
        transform: translateY(30%);
}

.voting>div>p {
        font-weight: var(--Bold);
}

.voting_num {
        color: #E1564E;
        font-family: '源ノ明朝';
        font-size: 2.6rem;
        margin-left: 2rem;
}

.voting_image {
        background-image: url('../img/like_button.svg');
        height: 4.4rem;
        background-color: rgb(255, 255, 255, 1);
        border-width: 0;
        width: 10.2rem;
        transition: all 0.2s ease-out;
}

.voting_image:hover {
        opacity: 0.8;
}

.voting_image:active {
        position: relative;
        top: 0.1rem;
}

@media screen and (max-width: 700px) {
        .review-container {
                grid-template-columns: 15rem auto auto;
                grid-template-rows: auto auto auto auto auto auto;
        }

        .thumbnail {
                grid-column: 1/4;
                grid-row: 2/3;
        }

        .clinic-name {
                grid-column: 1/4;
        }

        .Stars {
                grid-column: 2/4;
                grid-row: 2/3;
        }

        .body {
                grid-column: span 3;
        }

        .disease_name {
                grid-row: 3/4;
        }

        .view_link {}

        .username {}

        .created {
                grid-column: 2/4;
        }

        .voting {
                grid-row: 7/8;
                transform: unset;
        }
}

@media screen and (max-width: 450px) {
        .review-container {
                grid-template-columns: 15rem auto auto;
                grid-template-rows: auto auto auto auto auto auto;
        }

        .thumbnail {
                grid-column: 1/4;
                grid-row: 2/3;
        }

        .clinic-name {
                font-size: 1.6rem;
        }

        .Stars {
                grid-column: 2/4;
                grid-row: 2/3;
                font-size: 2rem;
        }

        .body {
                grid-column: span 3;
        }

        .disease_name {
                grid-row: 5/6;
        }

        .view_link {}

        .username {
                justify-self: flex-start;
                margin-left: 1rem;
        }

        .created {
                grid-column: 1/4;
                grid-row: 8/9;
                justify-self: flex-start;
                margin-left: 1rem;
        }

        .voting {
                grid-row: 9/10;
        }
}


/* ~~~~~~END article~~~~~~ */